* {
  border: 1px solid;
}

html,
body {
  margin: 0;
}
.touxianglan {
  width: 100%;
  height: 200px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dibulan {
  width: 100%;
  height: 160px;
  background-color: #eee;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dibulan-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.zhuyaoneirong {
  display: flex;
  min-height: 50vh;
  padding-top: 10px;
  padding-bottom: 10px;
}

.zuobulan {
  display: flex;
  width: 20vw;
  margin-left: 5px;
  flex-direction: column;
}
.youbulan {
  display: flex;
  flex-direction: column;
  flex: 1;
}
